Big Question: Which counties hurt the environment the most overall? Per capita?

Questions:  
        1) Which counties emit the most gas? (by specific gas?)
        2)

In [72]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [73]:
df = pd.read_csv('environment-recreation-and-resources-linc.csv', sep = ';')
county_df = df[df['Area Type'] == 'County']
nc_fips = pd.read_csv('nc_county_fips.csv')

In [74]:
county_df

,Area Name,Area Type,Year,Variable,Value
0,Jackson County,County,1990,"Domestic Water Use from Indiv. Wells (000,000 ...",0.0
1,Jackson County,County,1990,"Water Use by Self-Supplied Industry (000,000 G...",0.0
2,Jackson County,County,1985,"Total Water Use (000,000 Gals/Day)",3.0
3,Jackson County,County,2014,Volatile Organic Compound Emis. from Pt Source...,43.0
4,Jackson County,County,2016,Carbon Monoxide Emissions from Point Sources (...,195.0
...,...,...,...,...,...
66202,Yancey County,County,2002,Volatile Organic Compounds Point Sources EPA (...,12.0
66203,Yancey County,County,2008,Sulphur Dioxide Emissions from Point Sources E...,5.0
66204,Yancey County,County,2008,Particulate Matter <2.5micr Point Sources EPA ...,0.0
66205,Yancey County,County,1990,Yr-Rnd Housing Units/Other Water Source,3601.0
66206,Yancey County,County,1990,Yr-Rnd Housing Units with Other Sewage Disposa...,586.0

In [75]:
county_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44650 entries, 0 to 66206
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area Name  44650 non-null  object
 1   Area Type  44650 non-null  object
 2   Year       44650 non-null  int64
 3   Variable   44650 non-null  object
 4   Value      44647 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.0+ MB

In [102]:
variables = list(county_df['Variable'].unique())

In [106]:
variables.sort()

In [108]:
for variable in variables:
    print(variable)

Ammonia Emissions from Area Sources EPA (Tons)
Ammonia Emissions from Point Sources EPA (Tons)
Carbon Monoxide Emissions from Area Sources (Tons)
Carbon Monoxide Emissions from Area Sources EPA (Tons)
Carbon Monoxide Emissions from Point Sources (Tons)
Carbon Monoxide Emissions from Point Sources EPA (Tons)
Domestic Water Use from Indiv. Wells (000,000 Gals/Day)
Establishments - Amuse / Rec Service (Serv) (CBP-SIC)
Federal Outdoor Recreation Acreage
Hazardous Waste Generated (000 Pounds)
Hazardous Waste Treated  (000 Pounds)
Local Outdoor Recreation Acreage
Municipal & Community Water Use (000,000 Gals/Day)
Nitrogen Oxide Emissions from Area Sources (Tons)
Nitrogen Oxide Emissions from Area Sources EPA (Tons)
Nitrogen Oxide Emissions from Point Sources (Tons)
Nitrogen Oxide Emissions from Point Sources EPA (Tons)
Particulate Emissions from Area Sources (Tons)
Particulate Matter <10micr Point Sources EPA (Tons)
Particulate Matter <10micr from Area Sources EPA (Tons)
Particulate Matter <2.5micr Area Sources EPA (Tons)
Particulate Matter <2.5micr Point Sources EPA (Tons)
Particulate Matter Emitted from Point Sources (Tons)
State Outdoor Recreation Acreage
Sulfur Dioxide Emissions from Area Sources (Tons)
Sulfur Dioxide Emissions from Point Sources (Tons)
Sulphur Dioxide Emissions from Area Sources EPA (Tons)
Sulphur Dioxide Emissions from Point Sources EPA (Tons)
Total Water Use (000,000 Gals/Day)
Volatile Organic Compound Emis from Area Sources (Tons)
Volatile Organic Compound Emis. from Pt Sources  (Tons)
Volatile Organic Compounds Area Sources EPA (Tons)
Volatile Organic Compounds Point Sources EPA (Tons)
Water Use by Livestock (000,000 Gals/Day)
Water Use by Self-Supplied Industry (000,000 Gals/Day)
Water Use for Irrigation (000,000 Gals/Day)
Water Use for Thermoelec. Power Gen. (000,000 Gals/Day)
Year-Round Units/Individual Well Primary Water Source
Yr-Rnd Housing Units with Other Sewage Disposal Means
Yr-Rnd Housing Units with Public Sewer
Yr-Rnd Housing Units with Septic Tank or Cesspool
Yr-Rnd Housing Units/Other Water Source
Yr-Rnd Housing Units/Public or Private Water Source

In [77]:
nc_fips.head()

   County Code            County
0        37001   Alamance County
1        37003  Alexander County
2        37005  Alleghany County
3        37007      Anson County
4        37009       Ashe County

In [78]:
county = list(nc_fips['County'])
code = list(nc_fips['County Code'])
nc_codes = dict(zip(county, code))

In [79]:
# Should be 100
len(county_df['Area Name'].unique())

107

In [80]:
county_df['Area Name'].unique()

array(['Jackson County', 'Johnston County', 'Jones County', 'Lee County',
       'Lenoir County', 'Lincoln County', 'Macon County',
       'Madison County', 'Martin County', 'McDowell County',
       'Mecklenburg County', 'Mitchell County', 'Montgomery County',
       'Moore County', 'Nash County', 'Navassa', 'New Hanover County',
       'New London', 'Newland', 'Newton', 'Newton Grove',
       'Northampton County', 'Onslow County', 'Orange County',
       'Pamlico County', 'Pasquotank County', 'Pender County',
       'Perquimans County', 'Person County', 'Pitt County', 'Polk County',
       'Randolph County', 'Richmond County', 'Robeson County',
       'Rockingham County', 'Rowan County', 'Rutherford County',
       'Sampson County', 'Scotland County', 'Caldwell County',
       'Camden County', 'Carteret County', 'Caswell County',
       'Catawba County', 'Chatham County', 'Cherokee County',
       'Chowan County', 'Clay County', 'Cleveland County',
       'Columbus County', 'Craven County', 'Cumberland County',
       'Currituck County', 'Dare County', 'Davidson County',
       'Davie County', 'Duplin County', 'Durham County',
       'Edgecombe County', 'Forsyth County', 'Franklin County',
       'Gaston County', 'Gates County', 'Granville County',
       'Greene County', 'Guilford County', 'Halifax County',
       'Harnett County', 'Haywood County', 'Henderson County',
       'Hertford County', 'Hoke County', 'Hyde County', 'Iredell County',
       'Alamance County', 'Alexander County', 'Alleghany County',
       'Anson County', 'Ashe County', 'Avery County', 'Beaufort County',
       'Bertie County', 'Bladen County', 'Brunswick County',
       'Buncombe County', 'Burke County', 'Cabarrus County',
       'Stanly County', 'Stokes County', 'Surry County', 'Swain County',
       'Transylvania County', 'Tyrrell County', 'Union County',
       'Vance County', 'Wake County', 'Warren County',
       'Washington County', 'Watauga County', 'Wayne County',
       'Wilkes County', 'Wilson County', 'Yadkin County', 'Yancey County',
       'Nashville', 'New Bern', 'Newport'], dtype=object)

# seems to be missing Graham County. With a 2010 population of 8,861 (wikipedia), it is probably safe to assume they do not have significant emissions.

In [81]:
# Graham Country isn't even present in original dataset
df[df['Area Name'] == 'Graham']['Area Type'].unique()

array(['Municipality'], dtype=object)

In [82]:
county_df['Area Type'].unique()

array(['County'], dtype=object)

In [83]:
remove = ['New Bern', 'Newport', 'Nashville', 'Navassa', 'New London', 'Newland', 'Newton', 'Newton Grove']

In [84]:
county_df['Area Name'] = county_df['Area Name'].apply(lambda x: np.nan if x in remove else x)

In [85]:
county_df.dropna(inplace = True)

In [86]:
county_df['fips'] = county_df['Area Name'].apply(lambda x: nc_codes[x])

In [89]:
# Should be 100, 99 if we're missing Graham county
len(county_df['Area Name'].unique())

99

In [109]:
co_epa_df = county_df[county_df['Variable'] == 'Carbon Monoxide Emissions from Area Sources EPA (Tons)']

In [118]:
co_epa_df = co_epa_df.sort_values(by = 'Year')
co_epa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 66180 to 34985
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area Name  1188 non-null   object
 1   Area Type  1188 non-null   object
 2   Year       1188 non-null   int64
 3   Variable   1188 non-null   object
 4   Value      1188 non-null   float64
 5   fips       1188 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 65.0+ KB

In [119]:
co_df = county_df[county_df['Variable'] == 'Carbon Monoxide Emissions from Area Sources (Tons)']
co_df.sort_values(by = 'Year')
co_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 425 to 66059
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area Name  297 non-null    object
 1   Area Type  297 non-null    object
 2   Year       297 non-null    int64
 3   Variable   297 non-null    object
 4   Value      297 non-null    float64
 5   fips       297 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 16.2+ KB

In [120]:
print(co_epa_df['Year'].unique())
print(co_df['Year'].unique())

[1990 1996 1997 1998 1999 2000 2001 2002 2005 2008 2011 2014]
[1985 1986 1990]

### So the EPA version has a lot more data, and it is much more recent.  We'll use that.

In [121]:
import plotly.express as px
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
        counties = json.load(response)

fig = px.choropleth(co_epa_df, geojson=counties, locations='fips', color='Value',
                           color_continuous_scale="Viridis",
                           animation_frame = 'Year',
                           #range_color=(0, 12),
                           scope="usa",
                           title="NC Carbon Monoxide Emissions By County",
                           labels={'Value':'CO Emission (Tons)'}
                          )
fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

### What happened in 2008 and 2011??!!