Big Question: Which counties hurt the environment the most overall? Per capita?

Questions:  
        1) Which counties emit the most gas? (by specific gas?)
        2)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.figure_factory as ff

In [2]:
df = pd.read_csv('environment-recreation-and-resources-linc.csv', sep = ';')
county_df = df[df['Area Type'] == 'County']
nc_fips = pd.read_csv('nc_county_fips.csv')

In [3]:
county_df

,Area Name,Area Type,Year,Variable,Value
0,Jackson County,County,1990,"Domestic Water Use from Indiv. Wells (000,000 ...",0.0
1,Jackson County,County,1990,"Water Use by Self-Supplied Industry (000,000 G...",0.0
2,Jackson County,County,1985,"Total Water Use (000,000 Gals/Day)",3.0
3,Jackson County,County,2014,Volatile Organic Compound Emis. from Pt Source...,43.0
4,Jackson County,County,2016,Carbon Monoxide Emissions from Point Sources (...,195.0
...,...,...,...,...,...
66202,Yancey County,County,2002,Volatile Organic Compounds Point Sources EPA (...,12.0
66203,Yancey County,County,2008,Sulphur Dioxide Emissions from Point Sources E...,5.0
66204,Yancey County,County,2008,Particulate Matter <2.5micr Point Sources EPA ...,0.0
66205,Yancey County,County,1990,Yr-Rnd Housing Units/Other Water Source,3601.0
66206,Yancey County,County,1990,Yr-Rnd Housing Units with Other Sewage Disposa...,586.0

In [4]:
county_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44650 entries, 0 to 66206
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area Name  44650 non-null  object
 1   Area Type  44650 non-null  object
 2   Year       44650 non-null  int64
 3   Variable   44650 non-null  object
 4   Value      44647 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.0+ MB

In [5]:
county_df['Variable'].unique()

array(['Domestic Water Use from Indiv. Wells (000,000 Gals/Day)',
       'Water Use by Self-Supplied Industry (000,000 Gals/Day)',
       'Total Water Use (000,000 Gals/Day)',
       'Volatile Organic Compound Emis. from Pt Sources  (Tons)',
       'Carbon Monoxide Emissions from Point Sources (Tons)',
       'Particulate Matter Emitted from Point Sources (Tons)',
       'Sulphur Dioxide Emissions from Area Sources EPA (Tons)',
       'Nitrogen Oxide Emissions from Point Sources (Tons)',
       'Sulfur Dioxide Emissions from Point Sources (Tons)',
       'Carbon Monoxide Emissions from Area Sources EPA (Tons)',
       'Ammonia Emissions from Area Sources EPA (Tons)',
       'Nitrogen Oxide Emissions from Area Sources EPA (Tons)',
       'Particulate Matter <10micr from Area Sources EPA (Tons)',
       'Volatile Organic Compounds Area Sources EPA (Tons)',
       'Sulfur Dioxide Emissions from Area Sources (Tons)',
       'Volatile Organic Compound Emis from Area Sources (Tons)',
       'Volatile Organic Compounds Point Sources EPA (Tons)',
       'Carbon Monoxide Emissions from Point Sources EPA (Tons)',
       'Ammonia Emissions from Point Sources EPA (Tons)',
       'Particulate Matter <2.5micr Point Sources EPA (Tons)',
       'Particulate Matter <10micr Point Sources EPA (Tons)',
       'Sulphur Dioxide Emissions from Point Sources EPA (Tons)',
       'Yr-Rnd Housing Units with Other Sewage Disposal Means',
       'Local Outdoor Recreation Acreage',
       'Hazardous Waste Treated  (000 Pounds)',
       'Establishments - Amuse / Rec Service (Serv) (CBP-SIC)',
       'Hazardous Waste Generated (000 Pounds)',
       'Federal Outdoor Recreation Acreage',
       'Municipal & Community Water Use (000,000 Gals/Day)',
       'Water Use for Thermoelec. Power Gen. (000,000 Gals/Day)',
       'Water Use for Irrigation (000,000 Gals/Day)',
       'Particulate Emissions from Area Sources (Tons)',
       'Nitrogen Oxide Emissions from Point Sources EPA (Tons)',
       'Year-Round Units/Individual Well Primary Water Source',
       'Yr-Rnd Housing Units with Public Sewer',
       'Particulate Matter <2.5micr Area Sources EPA (Tons)',
       'Yr-Rnd Housing Units/Other Water Source',
       'Yr-Rnd Housing Units/Public or Private Water Source',
       'State Outdoor Recreation Acreage',
       'Water Use by Livestock (000,000 Gals/Day)',
       'Nitrogen Oxide Emissions from Area Sources (Tons)',
       'Carbon Monoxide Emissions from Area Sources (Tons)',
       'Yr-Rnd Housing Units with Septic Tank or Cesspool'], dtype=object)

In [6]:
nc_fips.head()

   County Code            County
0            1   Alamance County
1            3  Alexander County
2            5  Alleghany County
3            7      Anson County
4            9       Ashe County

In [7]:
county = list(nc_fips['County'])
code = list(nc_fips['County Code'])
nc_codes = dict(zip(county, code))

In [8]:
county_df['fips'] = county_df['Area Name'].apply(lambda x: nc_codes[x])

KeyError: 'Navassa'

In [20]:
# Should be 100
len(county_df['Area Name'].unique())

107

In [21]:
county_df['Area Name'].unique()

array(['Jackson County', 'Johnston County', 'Jones County', 'Lee County',
       'Lenoir County', 'Lincoln County', 'Macon County',
       'Madison County', 'Martin County', 'McDowell County',
       'Mecklenburg County', 'Mitchell County', 'Montgomery County',
       'Moore County', 'Nash County', 'Navassa', 'New Hanover County',
       'New London', 'Newland', 'Newton', 'Newton Grove',
       'Northampton County', 'Onslow County', 'Orange County',
       'Pamlico County', 'Pasquotank County', 'Pender County',
       'Perquimans County', 'Person County', 'Pitt County', 'Polk County',
       'Randolph County', 'Richmond County', 'Robeson County',
       'Rockingham County', 'Rowan County', 'Rutherford County',
       'Sampson County', 'Scotland County', 'Caldwell County',
       'Camden County', 'Carteret County', 'Caswell County',
       'Catawba County', 'Chatham County', 'Cherokee County',
       'Chowan County', 'Clay County', 'Cleveland County',
       'Columbus County', 'Craven County', 'Cumberland County',
       'Currituck County', 'Dare County', 'Davidson County',
       'Davie County', 'Duplin County', 'Durham County',
       'Edgecombe County', 'Forsyth County', 'Franklin County',
       'Gaston County', 'Gates County', 'Granville County',
       'Greene County', 'Guilford County', 'Halifax County',
       'Harnett County', 'Haywood County', 'Henderson County',
       'Hertford County', 'Hoke County', 'Hyde County', 'Iredell County',
       'Alamance County', 'Alexander County', 'Alleghany County',
       'Anson County', 'Ashe County', 'Avery County', 'Beaufort County',
       'Bertie County', 'Bladen County', 'Brunswick County',
       'Buncombe County', 'Burke County', 'Cabarrus County',
       'Stanly County', 'Stokes County', 'Surry County', 'Swain County',
       'Transylvania County', 'Tyrrell County', 'Union County',
       'Vance County', 'Wake County', 'Warren County',
       'Washington County', 'Watauga County', 'Wayne County',
       'Wilkes County', 'Wilson County', 'Yadkin County', 'Yancey County',
       'Nashville', 'New Bern', 'Newport'], dtype=object)

In [22]:
county_df['Area Type'].unique()

array(['County'], dtype=object)

In [23]:
remove = ['New Bern', 'Newport', 'Nashville', 'Navassa', 'New London', 'Newland', 'Newton', 'Newton Grove']

In [24]:
county_df['Area Name'] = county_df['Area Name'].apply(lambda x: np.nan if x in remove else x)

In [25]:
county_df.dropna(inplace = True)

In [26]:
county_df['fips'] = county_df['Area Name'].apply(lambda x: nc_codes[x])

In [27]:
len(county_df['Area Name'].unique())

99

In [28]:
co_df = county_df[county_df['Variable'] == 'Carbon Monoxide Emissions from Area Sources EPA (Tons)']

In [29]:
co_df

,Area Name,Area Type,Year,Variable,Value,fips
16,Jackson County,County,2001,Carbon Monoxide Emissions from Area Sources EP...,12751.0,99
17,Jackson County,County,2000,Carbon Monoxide Emissions from Area Sources EP...,12740.0,99
97,Johnston County,County,1997,Carbon Monoxide Emissions from Area Sources EP...,70879.0,101
143,Jones County,County,1999,Carbon Monoxide Emissions from Area Sources EP...,4630.0,103
252,Lee County,County,2011,Carbon Monoxide Emissions from Area Sources EP...,12695.0,105
...,...,...,...,...,...,...
66039,Wilson County,County,2005,Carbon Monoxide Emissions from Area Sources EP...,32187.0,195
66121,Yadkin County,County,2000,Carbon Monoxide Emissions from Area Sources EP...,17948.0,197
66172,Yancey County,County,2011,Carbon Monoxide Emissions from Area Sources EP...,5244.0,199
66179,Yancey County,County,1996,Carbon Monoxide Emissions from Area Sources EP...,7900.0,199
66180,Yancey County,County,1990,Carbon Monoxide Emissions from Area Sources EP...,10188.0,199

In [30]:
co_df['Year'].unique()

array([2001, 2000, 1997, 1999, 2011, 1996, 2014, 2005, 2002, 1998, 2008,
       1990])

In [31]:
co_df_2014 = co_df[co_df['Year'] == 2014]

In [32]:
co_df_2014.sort_values(by = 'Area Name', inplace = True)

In [33]:
co_df_2014.head()

,Area Name,Area Type,Year,Variable,Value,fips
34985,Alamance County,County,2014,Carbon Monoxide Emissions from Area Sources EP...,22028.0,1
10822,Alexander County,County,2014,Carbon Monoxide Emissions from Area Sources EP...,5746.0,3
35104,Alleghany County,County,2014,Carbon Monoxide Emissions from Area Sources EP...,2156.0,5
53716,Anson County,County,2014,Carbon Monoxide Emissions from Area Sources EP...,7038.0,7
35225,Ashe County,County,2014,Carbon Monoxide Emissions from Area Sources EP...,4643.0,9

In [34]:
values = co_df_2014['Value'].tolist()
fips = co_df_2014['fips'].tolist()

colorscale = ["#030512","#1d1d3b","#323268","#3d4b94","#3e6ab0",
              "#4989bc","#60a7c7","#85c5d3","#b7e0e4","#eafcfd"]
endpts = list(np.linspace(1, 12, len(colorscale) - 1))

fig = ff.create_choropleth(
    fips=fips, values=values, scope=['North Carolina'],
    binning_endpoints=endpts, colorscale=colorscale,
    show_state_data=False,
    show_hover=True,
    asp = 2.9,
    title_text = 'USA by Unemployment %',
    legend_title = '% unemployed'
)
fig.layout.template = None
fig.show()

ImportError: geopandas, pyshp and shapely must be installed for this figure factory.

Run the following commands to install the correct versions of the following modules:

```
$ pip install geopandas==0.3.0
$ pip install pyshp==1.2.10
$ pip install shapely==1.6.3
```
If you are using Windows, follow this post to properly install geopandas and dependencies:http://geoffboeing.com/2014/09/using-geopandas-windows/

If you are using Anaconda, do not use PIP to install the packages above. Instead use conda to install them:

```
$ conda install plotly
$ conda install geopandas
```